<ion-header>
  <ion-toolbar>
    <ion-title>Add Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="forms">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input name="NameofDish" type="text" placeholder="Name of Dish" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="Descriptions" type="text" placeholder="Description of dish" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="Steps" type="text" placeholder="Steps" ></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit"  expand="block" color="danger">Add Dish</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

