<ion-header>
  <ion-toolbar>
    <ion-title>View Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-card *ngFor="let item of List" color="warning">
    <ion-grid>
      <ion-row>
        <ion-col class="right">
         <b> Dish Name: </b>
        </ion-col>
        <ion-col class="left">
         <b> {{item.Name}}</b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="right">
          <b>Descrption:</b>
        </ion-col>
        <ion-col class="left">
          <b>{{item.Description}} </b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="right">
         <b>Steps:</b>
        </ion-col>
        <ion-col class="left">
          <b>{{item.Steps}}</b>
        </ion-col>
      </ion-row>
          <ion-button size="small" type="submit"  color="danger" routerLink='/view-recipes-admin' class="button">Add to favourite</ion-button>
    </ion-grid>
  </ion-card>
</ion-content>
