ion-content{
    --background: url(../../assets/food3.jpg) 0 0/100% 100% no-repeat;
    position: absolute;
}
h2{
    text-align: center;
    color:red;
}
ion-title{
    text-align: center;
    color: rgb(131, 8, 8);
    font-weight: bold;
}
ion-card{
    top:200px;
}

h1{
    position: relative;
    text-align: center;
    color:white;
    top: 100px;

}