ion-content{
    --background: url(../../assets/food3.jpg) 0 0/100% 100% no-repeat;
    position: absolute;
}
h2{
    text-align: center;
    color:red;
}
ion-title{
    text-align: center;
    color: rgb(131, 8, 8);
    font-weight: bold;
}
.foot{
    position: relative;
    top:140px;
}


h2{
    text-align: auto;
    color: red;
    font-weight: bold;
}

.head{
    position: relative;
    height: 70px;
    width: 150px;
    left: 50px;
    top: 70px;
}
