
ion-content{
    --background: url(../../assets/casey-lee-awj7sRviVXo-unsplas.jpg) 0 0/100% 100% no-repeat;
}

h1{
    position: relative;
    text-align: center;
    color: white;
}
p{
    color: royalblue;
}
.forms{
    align-content: center;
    position: relative;
    top: 100px;
}

ion-content{
    position: absolute;
}