
ion-content{
    --background: url(../../assets/food1.jpg) 0 0/100% 100% no-repeat;
}

h1{
    position: relative;
    text-align: center;
    color: white;
}
p{
    color: red;
}
.form{
    align-content: center;
    position: relative;
    top: 100px;
}

ion-content{
    position: absolute;
}
a{
    font-style: italic;
    color: red;
}
.submit-btn{
    left: 90px;
    position: relative;
}
ion-card{
    top: 200px;
    position: relative;
}